{
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 120,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "[\"decorators\", { \"decoratorsBeforeExport\": true }]"
  ],
  "importOrder": [
    "^@angular/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleAttributePerLine": true
      }
    }
  ]
}
