<app-page-header [title]="client().id ? 'Úprava klienta' : 'Nový klient'">
  <a
    routerLink="/clients"
    pButton
    label="Zpět"
    icon="pi pi-arrow-left"
    actions
  ></a>
</app-page-header>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
  <div class="lg:col-span-2">
    <p-card>
      <app-client-form
        [clientDetail]="client()"
        (formChanged)="onFormChanged($event)"
      />
    </p-card>
  </div>

  <app-client-stats />

  <div class="flex gap-2">
    <button
      (click)="onSave()"
      type="button"
      pButton
      label="Uložit"
      icon="pi pi-check"
    ></button>

    <button
      (click)="cancel()"
      type="button"
      pButton
      label="Zrušit"
      icon="pi pi-times"
      severity="secondary"
      text
    ></button>
  </div>
</div>
