<app-page-header [title]="'Nový klient'">
  <a routerLink="/clients" pButton label="Zpět" icon="pi pi-arrow-left" actions></a>
</app-page-header>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
  <div class="lg:col-span-2">
    <p-card class="rounded-2xl border border-slate-200 shadow-sm">
      <app-client-form
        [clientDetail]="client()"
        (formChanged)="formChanged.emit($event)"
      />
    </p-card>
  </div>
  <app-client-stats />
  <div class="flex gap-2 lg:col-span-2">
    <button (click)="save.emit()" type="button" pButton label="Uložit" icon="pi pi-check"></button>
    <button (click)="cancel.emit()" type="button" pButton label="Zrušit" icon="pi pi-times" severity="secondary" [text]="true"></button>
  </div>
</div>
